
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #0087C3;
  text-decoration: none;
}

body {
  position: relative;
  width: 21cm;  
  height: 30.5cm; 
  margin: 0 auto; 
  color: #555555;
  background: #FFFFFF; 
  *font-family: Arial, sans-serif; 
  font-size: 14px; 
  font-family: SourceSansPro;
}

header {
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #AAAAAA;
}

#logo {
  float: left;
  margin-top: 8px;
}

#logo img {
  height: 55px;
}

#company {
  float: right;
  text-align: right;
}


#details {
  margin-bottom: 20px;
}

#client {
  padding-left: 6px;
  border-left: 6px solid #0087C3;
  float: left;
  width:400px
  
}

#client .to {
  color: #777777;
}

h2.name {
  font-size: 1.4em;
  font-weight: normal;
  margin: 0;
}
.trf-detail{	
	font-weight : normal;	
	font-size: 14px;
	border : 1px solid #c0c0c0;
	padding : 10px;
	width : 450px;
	
}
#invoice {
  float: right;
  text-align: right;
  width:380px
}

#invoice h1 {
  color: #0087C3;
  font-size: 1.5em;
  line-height: 1em;
  font-weight: normal;
  margin: 0  0 10px 0;
}

#invoice .date {
  font-size: 1.1em;
  color: #777777;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 10px;
  border :0;
  cellspacing :0;
  cellpadding : 0;
}

table th,
table td {
  padding: 6px;
  background: #EEEEEE;
  text-align: center;
  border-bottom: 1px solid #FFFFFF;
}

table th {
  white-space: nowrap;        
  font-weight: normal;
}

table td {
  text-align: right;
}

table td h3{
  color: #57B223;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0 0 0.2em 0;
}

table .no {
  text-align: left;
  color: #FFFFFF;
  font-size: 14px;
  background: #00b000;
}

table .desc {
  text-align: left;
  font-size: 14px;
  
}
table .pic{
  text-align: center;  
  font-size: 14px;
  background: #ffffff;
}

table .unit {
  background: #DDDDDD;
}

table .qty {
}

table .total {
  background: #ea0075;
  background: #00b000;
}

table td.unit,
table td.qty,
table td.total {
  font-size: 14px;
}

table tbody tr:last-child td {
  border: none;
}

table tfoot td {
  padding: 5px 5px;
  background: #FFFFFF;
  border-bottom: none;
  font-size: 14px;
  white-space: nowrap; 
  border-top: 1px solid #AAAAAA; 
}

table tfoot tr:first-child td {
  border-top: none; 
}

table tfoot tr:last-child td {
  color: #ea0075;
  font-size: 16px;
  border-top: 1px solid #ea0075; 
  font-weight : bold;

}

table tfoot tr td:first-child {
  border: none;
}

#thanks{
  font-size: 2em;
  margin-bottom: 50px;
}

#notices{
  padding-left: 6px;
  border-left: 6px solid #0087C3;  
}

#notices .notice {
  font-size: 1.2em;
}

footer {
  color: #777777;
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #AAAAAA;
  padding: 8px 0;
  text-align: center;
}
.title-letter{
  color: #808080;
  font-size: 1.8em;
  line-height: 1em;
  font-weight: normal;
  margin: 0  0 10px 0;
  text-align : center;
  text-decoration : none;
}
.invoice-date{
  color: #808080;
  font-size: 16px;
  line-height: 1em;
  font-weight: normal;
  margin: 0  0 10px 0;
  text-align : center;
}
.status-unpaid{
  color: #dfdf00; 
  font-weight : bold;
}
.status-paid{
  color: #00d76b; 
  font-weight : bold;
}
.notice-set{
	margin-top : 20px;
}
.notice-right{
	margin-top : 10px;
	
}
.notice-left{
	margin-top : 85px;
	
}
.left{
  	width:50%;	
	float:left;
}
.right{
	width:50%;	
	float:right;
}
hr{
 margin-top : 80px;
}